{% extends "assistant/base.html" %}
{% load static %}
{% block content %}
  <div class="content">
    {% for category_name, category in categories.items %}
      <h1 class="recipe__container_header">{{category_name|title}}</h1>
      <div id="{{category_name}}_recipes" class="recipe_container">
        <div class="recipe_card_container">
          <div class="cookbook_nav {{category_name}}_nav" id="{{category_name}}_nav_left"><i class="fas fa-angle-left" onclick="updateRecipes({{forloop.counter0}},'left')"></i></div>
          {% for recipe in category %}
          <div id="{{category_name}}_recipe_{{forloop.counter}}" class="recipe_card {{category_name}}_card" style="background-image: url('{% static 'assistant/img/paper.jpg' %}')">
              {% if recipe.makeable %}
                <div class="recipe_status_marker"><i class="fas fa-check"></i></div>
              {% elif recipe.missing_ingredients|length == 0 %}
                <div class="recipe_status_marker"><i class="fas fa-shopping-cart" style="color:var(--orange);"></i></div>
              {% else %}
                <div class="cart_btn_container recipe_status_marker">
                  <div class="cart_btn" onclick="addRecipeIngredients('{{recipe.shortname}}')">
                    <i class="fas fa-cart-plus"></i>
                  </div>
                  <div class="cart_btn" onclick="chooseRecipeOptionals('{{recipe.shortname}}')">
                    <i class="fas fa-caret-down"></i>
                  </div>
                <div class="recipe_optional_dropdown" id="{{recipe.shortname}}_optional_dropdown">
                  {% if recipe.optional_ingredients|length > 0 %}
                    <ul>
                      {% for ingredient in recipe.optional_ingredients %}
                        <li class="recipe_optional_text" id="recipe_optional_dropdown_item_{{forloop.counter}}">
                          <input type="checkbox" class="{{recipe.shortname}}_optional_check" name="{{recipe.shortname}}_optional_check_{{forloop.counter}}" value="{{ingredient}}">
                          <label for="{{recipe.shortname}}_optional_check_{{forloop.counter}}">
                            {{ingredient|title}}
                          </label>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <h3 class="recipe_optional_text" style="font-style: italic;">No Optional Ingredients</h3>
                  {% endif %}
                </div>
                </div>
              {% endif %}
              <h2 class="recipe_name">{{recipe.name}}</h2>
              <img class="recipe_pic" src="{% static 'assistant/img/thumbnails/' recipe.thumbnail %}" onerror=this.src="{% static 'assistant/img/logo.svg' %}">
              <h3 id="{{recipe.shortname}}_missing" class="recipe_card_text recipe_card_missing" onclick="toggleMissingIngr('{{recipe.shortname}}')">
                <i class="fas fa-caret-right"></i> Missing Ingredients
              </h3>
              <ul id="{{recipe.shortname}}_missing_list" class="recipe_card_text recipe_list">
                {% for ingredient in recipe.missing_ingredients %}
                <li id="{{recipe.shortname}}_missing_{{forloop.counter}}">
                  {{ingredient.name|title}} x{{ingredient.quantity}} {{ingredient.unit}}
                </li>
                {% endfor %}
                {% for ingredient in recipe.planned_ingredients %}
                  <li id="{{recipe.shortname}}_missing_{{forloop.counter}}" style="color: var(--light-tan);">
                    {{ingredient.name|title}} x{{ingredient.quantity}} {{ingredient.unit}}
                  </li>
                {% endfor %}
              </ul>
              </ul>
              <h3 id="{{recipe.shortname}}_ingredients" class="recipe_card_text" onclick="toggleIngr('{{recipe.shortname}}')">
                <i class="fas fa-caret-right"></i> Ingredients
              </h3>
              <ul id="{{recipe.shortname}}_ingredients_list" class="recipe_card_text recipe_list">
                {% for ingredient in recipe.ingredients %}
                  <li id="{{recipe.shortname}}_ingredient_{{forloop.counter}}">
                    {{ingredient.name|title}} x{{ingredient.quantity}} {{ingredient.unit}}
                  </li>
                {% endfor %}
              </ul>
              <h3 id="{{recipe.shortname}}_optional" class="recipe_card_text" onclick="toggleOptionalIngr('{{recipe.shortname}}')">
                <i class="fas fa-caret-right"></i> Optional Ingredients
              </h3>
              <ul id="{{recipe.shortname}}_optional_list" class="recipe_card_text recipe_list">
                {% for ingredient in recipe.optional_ingredients %}
                  <li id="{{recipe.shortname}}_optional_{{forloop.counter}}">{{ingredient|title}}</li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
          <div class="cookbook_nav {{category_name}}_nav" id="{{category_name}}_nav_right"><i class="fas fa-angle-right" onclick="updateRecipes({{forloop.counter0}},'right')"></i></div>
        </div>
      </div>
    {% endfor %}
    <script>
      window.onload=updateRecipes(0,'load');
    </script>
  </div>
{% endblock %}
