{% extends "assistant/base.html" %}
  {% block content %}
    <div id="grocery-lists" class="list-container">
      <h1 class="list-header">Grocery List</h1>
      <hr>
      {% for category in categories %}
        <h2 class="list-label" id="{{category}}-grocery-list-label">{{category|title}}</h2>
        <hr>
      {% endfor %}
    </div>
    <div id="stock-lists" class="list-container">
      <h1 class="list-header">Stock List</h1>
      <hr>
      {% for category in categories %}
        <h2 class="list-label" id="{{category}}-stock-list-label">{{category|title}}</h2>
        <hr>
      {% endfor %}
    </div>
    <script>
      window.onload = getLists;
      window.setInterval(getLists, 5000);
    </script>
  {% endblock %}
